@model TestProjectMVC.Models.VievModel.HomeVM



<div class="container mb-5">
     <div class="text-center mt-2">
           <button class="btn btn-dark filter-button" data-filter="all">All</button>
           @foreach (var obj in Model.Categories)
        {
            <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">@obj.Name</button>
        }
     </div>
     <br />
    @if (Model.Products.Count() > 0)
    {
        <div class="container text-center">
            <div class="row justify-content-center">
                @foreach (var prod in Model.Products)
                {
                    <partial name="_IndividualProductCard" model="prod" />
                    // Показати всі продукти
                }
            </div>
        </div>
    }
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    
                    $(".filter").not('.' + value).hide('3000');
                    $(".filter").filter('.' + value).show('3000');
                }
            });
        });
    </script>
}