

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="background-color: red">left</div>
        <div class="col-md-4" style="background-color: green">middle</div>
        <div class="col-md-4" style="background-color: purple">right</div>
    </div>
</div>
