@model IEnumerable<TestProjectMVC.Models.Users>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col -4">
            <h2 class="text-primary">Users List</h2>
        </div>
        <div class="col-4">
            <a asp-controller="Users" asp-action="Create">
                Create New User
            </a>

        </div>
        <div class="col-4">
            
            <a asp-controller="Users" asp-action="Bootstrap">
                Bootstrap Test
            </a>
        </div>
    </div>

    <br /> <br />

    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Registration Date
                    </th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td width="10%">@obj.Id</td>
                        <td width="50%">@obj.UserName</td>
                        <td width="40%">@obj.time</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p> No category exists</p>
    }

</div>

