@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccesor
@using Shop_MVC.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestProjectMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestProjectMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: slategray">
            <div class="container-fluid">
                <b class="navbar-brand text-dark"  asp-area="" asp-controller="Home" asp-action="Index">My Shop</b>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Management
                                </a>
                                <ul class="dropdown-menu">
                                <li><a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Category</a></li>
                                <li><a class="nav-link text-dark" asp-controller="Product" asp-action="Index">Products</a></li>
                                <li><a class="nav-link text-dark" asp-controller="ApplicationType" asp-action="Index">ApplicationType</a></li>
                                    
                                </ul>
                            </li>
                            <li class="nav-item" >
                                @if (HttpContextAccesor.HttpContext.Session.Get<List<Shop_MVC.Models.ShoppingCart>>(WebConstants.SessionCart) != null)
                                {
                                    <a asp-action="Index" asp-controller="Cart" class="nav nav-link" style="color:black">
                                        @{
                                            var count = HttpContextAccesor.HttpContext.Session.Get<List<Shop_MVC.Models.ShoppingCart>>(WebConstants.SessionCart).Count;
                                        }
                                    <i class="fa-solid fa-cart-shopping fa-beat-fade" style="color: black;"></i> &nbsp; (@count)
                                    </a>
                                }
                                else
                                {
                                <a href="#" class="nav-link" style="color: black;">
                                    <i class="fa-solid fa-cart-shopping"></i> &nbsp; (0)
                                    </a>
                                }
                           </li>
                        
                      
                    </ul>
                    
                        <partial name="_LoginPartial" />
                    
                    
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TestProjectMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
